body{font-family:arial, helvetica;height: 100%;}
#headerlinks{color:gray;font-size:65%;border-bottom:solid #F2F2F2 1px;}
#headerlinks a,#headerlinks a:visited{color:gray;text-decoration:none;}
#headerlinks a:hover{color:gray;text-decoration:underline;}
#header, #search_box{margin-left:500px;width:275px;text-align:center;}
#search_box{position:absolute;}
#wrap {min-height: 100%;}
#block{width:600px;margin:0 auto 0;padding-bottom: 150px;}
#footer{font-size:65%;color:gray;text-align:center;margin-left:auto;margin-right:auto;position: absolute;bottom: 0px;left: 0px;width: 96%;height: 50px}
#footer a{color:gray}
#footer a:visited{color:gray}
.placeholder{color:gray;}