<div class="glossaries">
    {% for item in items %}
        <dl class="type">
            <dt>
                <strong>{{headword}}</strong> {{item.disamb}}
                {%if item.plural%}
                    <span class="plural">
                        {{item.plural}}
                        <em title="Lluosog">llusosog/plural</em>
                    </span>
                {%endif%}
            </dt>

            {%for gloss in item.glosses %}
                <dd>
                    <span class="glossary-item-text">
                        <strong class="definition">
                            {{gloss.gloss}}
                        </strong>&nbsp;
                    </span>

                    {%if item.example%}
                       <div class="example">Example / Enghraifft: <span>{{item.example}}</span></div>
                    {% endif %}
                </dd>
            {% endfor %}
        </dl>
    {% endfor %}
</div>
